.my-page-header {
    margin-top: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #dadce0;
}
.page-header-title {
    font-size: 35px;
    font-family: 'Galada', cursive;
    color: #333 !important;
}
.page-header-button {
    font-family: 'Roboto', sans-serif;
}
.subscribe-btn {
    float: right;
    text-align: right;
    font-size: 15px;
    margin: 7px;
    border: 1px solid #dadce0;
    padding: 7px;
    border-radius: 4px;
    color: #5e6065;
    font-weight: bold;
    letter-spacing: 0.5px;
}
.subscribe-link {
    border-radius: 4px;
    padding: 5px;
    font-size: 16px;
    background: #11539f;
    color: white;
}
.mobile-subscribe-btn {
    border-radius: 4px;
    padding: 5px;
    font-size: 20px;
    background: #11539f;
    color: white;
    width: 180px !important;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: none;
}
.subscribe-link:hover {
    color:white !important;
    background: rgb(2, 63, 103);
}
.container {
    width: 80% !important;
}
.page-section-1 {
    margin-top: 40px;
    margin-bottom: 100px;
}
.section-1-text {
    margin-top: 80px;
}
.section-1-head {
    font-size: 56px;
    font-family: 'GALADA';
    letter-spacing: 2px;
}
.section-1-sub-head {
    font-size: 40px;
    line-height: 45px;
    font-family: 'ROBOTO';
    color: #404144;
    margin-top: 10px;
}
.section-1-author {
    padding-top: 15px;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 0.5px;
}
.section-1-content {
    font-size: 22px;
    margin-top: 25px;
    color: #202124;
    font-family: 'Poppins';
    letter-spacing: 0.5px;
}
.card-container {
    background-color: #f0f8f8;
    padding-top: 100px;
}
.card-content-head {
    font-size: 45px;
    line-height: 45px;
    font-family: 'ROBOTO';
    color: #404144;
    margin-top: 10px;    
}
.card-content-text {
    font-size: 24px;
    margin-top: 30px;
    color: #202124;
    font-family: 'Poppins';
    letter-spacing: 0.5px;    
}
.card-content {
    padding: 30px;
    margin-top: 20px;
    float: right !important;
}
.my-card{
    border: 1px solid #dadce0;
    border-radius: 2px;
    background: white;
}
.card-btn-container {
    margin-top: 30px;
}
.explore-btn {
    text-align: right;
    font-size: 20px;
    border: 1px solid #dadce0;
    padding: 5px;
    border-radius: 4px;
    color: white;
    letter-spacing: 0.5px;
    width: 150px;
    text-align: center;
    background: #313639;
}
a:hover {
    text-decoration: none !important;
}
.explore-btn:hover {
    background-color: black;
}
.newsletter-image {
    width: 100%;
    max-width: 450px; 
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.card-image {
    width: 100%; 
    margin-bottom: 10px;
    max-width: 600px;
}
.analytics-head {
    text-align: center;
    font-size: 15px;
    font-family: 'ROBOTO';
}
.analytics-count {
    text-align: center;
    font-size: 25px;
    font-family: 'ROBOTO';
    font-weight: bold;
}
.analytics-image {
    text-align: center;
    font-size: 40px;
    font-family: 'ROBOTO';
    margin-bottom: 5px;
}
.analytics-section {
    margin-bottom: 80px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.subscribed-company {
    font-size: 50px;
    text-align: center;
}
.subscriber-companies {
    margin-bottom: 100px;
}
.subscriber-details-content {
    font-size: 40px;
    text-align: center;
    line-height: 48px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.subscriber-details {
    background: aliceblue;
    border: 1px solid #c0e3f8;
    margin-bottom: 70px;
    margin-top: 70px;
}
.second-container {
    padding: 0px !important;
    width: 100% !important;
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.first-container {
    max-width: 1700px !important;
}
.card-content-reverse {
    float: left !important;
}
.my-page-footer {
    padding: 10px;
    border-top: 1px solid #dadce0;
}
.page-footer-title {
    font-size: 21px;
    font-family: 'Poppins', cursive;
    text-align: center;
}
.sub-footer-text {
    margin-top: 4px;
    font-size: 18px;
    color: #656565;
}
@media only screen and (max-width: 1700px) {
    .section-1-head {
        font-size: 46px;
    }
    .section-1-sub-head {
        font-size: 30px;
        line-height: 35px;;
    }
    .section-1-content {
        font-size: 18px;
    }
    .card-content-head {
        font-size: 35px;
        line-height: 35px;
    }
    .card-content-text {
        font-size: 21px;
    }
}
@media only screen and (max-width: 1300px) {
    .section-1-head {
        font-size: 36px;
        line-height: 38px;
    }
    .section-1-sub-head {
        font-size: 20px;
        line-height: 25px;;
    }
    .section-1-content {
        font-size: 15px;
    }
    .section-1-text {
        margin-top: 40px;
    }
    .card-content-head {
        font-size: 30px;
        line-height: 30px;
    }
    .card-content-text {
        font-size: 18px;
    }
    .section-1-author {
        font-size: 18px !important;
    }
    .subscribe-link {
        font-size: 13px !important;
    }
}
@media only screen and (max-width: 991px) {
    .section-1-head {
        font-size: 46px;
        margin-bottom: 20px;
    }
    .section-1-sub-head {
        font-size: 30px;
        line-height: 35px;
    }
    .section-1-content {
        font-size: 18px;
    }
    .container {
        width: 95% !important;
    }
    .newsletter-image {
        width: 80% !important;
        margin-top: 30px;
    }
    .card-content {
        margin-top: 0px !important;
    }
}
@media only screen and (max-width: 800px) {
    .page-header-button {
        display: none;
    }
    .page-header-title {
        text-align: center;
    }
    .analytics-head {
        font-size: 12px;
    }
    .analytics-count {
        font-size: 20px;
    }
    .analytics-image {
        font-size: 30px;
    }
    .subscriber-details-content {
        font-size: 32px;
        line-height: 35px;
    }
    .subscribed-company {
        font-size: 40px;
    }
}
@media only screen and (max-width: 500px) {
    .analytics-head {
        font-size: 12px;
    }
    .analytics-count {
        font-size: 16px;
    }
    .analytics-image {
        font-size: 30px;
    }
    .subscriber-details-content {
        font-size: 28px;
        line-height: 30px;
    }
    .subscribed-company {
        font-size: 30px;
    }
    .card-content {
        padding: 5px !important;
        padding-bottom: 30px !important;
    }
    .section-1-author {
        font-size: 15px !important;
    }
    .subscribe-link {
        display: none !important;
    }
    .mobile-subscribe-btn {
        display: block !important;
    }
    .section-1-author > img {
        width: 35px !important;
    }
}
@media only screen and (max-width: 400px) {
    .page-header-title {
        font-size: 30px;
    }
    .container {
        width: 100% !important;
        padding: 0px !important;
    }
    .page-section-1 {
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .card-content-text {
        font-size: 15px;
    }
    .subscribed-company {
        font-size: 25px;
    }
}